@model IEnumerable<eManager.Core.Department>

@{
    ViewBag.Title = "All Departments";
}

<h2>@ViewBag.Title</h2>

    <ul>
    @foreach (var dept in Model)
    {
        <li>@Html.ActionLink(@dept.Name, "detail", "department", new {dept.Id}, null)</li>
    }
    </ul>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
